---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1000%2BW%2BWASHINGTON%2BBLVD%252C%2BCHICAGO%252C%2BIL%2B60607-2137&key=AIzaSyDigP87Kd4RoNoCP8yV0g4CCmGp2Ps56Vo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1000",
                       "short_name" : "1000",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Washington Boulevard",
                       "short_name" : "W Washington Blvd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Near West Side",
                       "short_name" : "Near West Side",
                       "types" : [ "neighborhood", "political" ]
                    },
                    [...]
